body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-fields-wrapper {
  width: max-content;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 34px;
  margin-top: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sign-up-container{
  display: flex;
    align-items: center;
    flex-direction: column;
}
.title-wrapper{padding: 30px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.block-container{
  height: calc(100vh - 134px);
  margin: 16px;
  border-radius: 14px;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

}
.items-wraper-blocks{
  display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 30px;
    flex-wrap: wrap;
}
.card-item{
  background-color: lightgrey !important;
  min-width: 150px;
}
.wrapper-items-block{
  width: calc(100% - 70px);
    text-align: left;
    padding-left: 68px;
}
.metrics-header{
  font-size: 18px;
  padding: 16px 32px;
  font-family: fantasy;
  letter-spacing: 0.25px;
}
.devider{
  border-bottom: 1px solid grey;
}